@media only screen and (max-width: 768px) {
    .navbar-brand a img {
        width: 50%;
        height: auto;
        margin-right: 0rem !important;
    }
    .navbar-brand{
        font-size: 10px;
        width: 55%;
    }
}