@media only screen and (max-width: 800px) {    /* Your mobile-specific styles go here */
    .navbar-brand img {
        width: 100%;
        height: auto;
        margin-right: 0rem !important;
    }
    .navbar-brand{
        font-size: 10px;
    }
}